.countdown-container{
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  flex-wrap: wrap;
  gap: 20px;
}

.countdown-container div{
  width: 70px;
}

.countdown-container p{
  margin: 1em 0px;
  font-size: 3em;
}

.countdown-container h3{
  margin: 0px;
  font-size: 1em;
  font-weight: normal;
}

.countdown-container button{
  display: block;
  margin: 1em auto;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}